{% extends "base.html" %}

{% block title %}my gmod servers{% endblock %}
{% block desc %}info related to my gmod servers{% endblock %}

{% block background %}gmod.gif{% endblock %}

{% block content %}

	<h1>my gmod servers</h1>
	
	<div class="servers">
	{%- for server in ("gmodA", "gmodB", "sandbox") %}
		<span>
			<a href="/info/{{server}}"><img src="/static/img/servers/banner-{{server}}.gif?t={{time}}" width="265" height="31"/></a>
			{% if not servers[server]["query"] %}<img src="/static/img/servers/btn-offline.gif" width="60" height="31"/>
			{%- else %}<a href="/connect/{{server}}"><img src="/static/img/servers/btn-connect.gif" width="60" height="31"/></a>{% endif %}
		</span>
	{%- endfor %}
	</div>
	<p><a href="/servers">more servers</a></p>

	<p>these run 24/7. my sandbox server runs only sandbox and the others run other silly gamemodes
	<br>the gamemode + map can be switched with !rtv</p>
	
	<p><b>these addons are required to play!</b></p>

		<a class="btn" href="https://steamcommunity.com/sharedfiles/filedetails/?id=2085165984">gamemode addons</a>
		<a class="btn" href="https://steamcommunity.com/sharedfiles/filedetails/?id=2084328429">sandbox addons</a>

	<p>(optional) <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=3363234147">missing texture fix</a></p>

{% endblock %}