{% extends "base.html" %}

{% block title %}my minecraft servers{% endblock %}
{% block desc %}info related to my minecraft servers{% endblock %}

{% block background %}dirt2.png{% endblock %}

{% block content %}

	<h1>minecraft servers</h1>
	
	<div class="servers">
	{%- for server in server_keys["mc"] %}
        <a href="/info/{{server}}"><img src="/static/img/servers/banner-{{server}}.gif?t={{time}}" alt="about {{server}}" width="265" height="31"/></a>
	{%- endfor %}
	</div>

	<p><a href="/servers">more servers</a></p>
	
    <p>
		my creative server is public but griefing and offensive builds are not allowed.
		you can navigate between creative worlds using /superflat and /creative
	</p>
	<a class="btn" href="https://creative.elisttm.space">view creative map</a>
	
	<p>i currently do NOT host a public smp server, but i do plan to in the future!</a></p>


{% endblock %}