{% extends "base.html" %}

{% block title %}my minecraft servers{% endblock %}
{% block desc %}info related to my minecraft servers{% endblock %}

{% block background %}dirt2.png{% endblock %}

{% block content %}

	<h1>minecraft servers</h1>
	
	<div class="servers">
	{%- for server in ("smp", "creative") %}
        <a href="/info/{{server}}"><img src="/static/img/servers/banner-{{server}}.gif?t={{time}}" width="265" height="31"/></a>
	{%- endfor %}
	</div>

	<p><a href="/servers">other servers</a></p>

	<p>these arent public yet, this page is just for my own convenience</p>

	<a class="btn" href="https://creative.elisttm.space">creative map</a>

{% endblock %}