{% extends "base.html" %}

{% block title %}my tf2 servers{% endblock %}
{% block desc %}info related to my tf2 servers{% endblock %}

{% block background %}tf2.gif{% endblock %}

{% block content %}

	<h1>my tf2 servers</h1>
	
    <div class="servers">
    {%- for server in server_keys["tf2"] %}
        <span>
            <a href="/info/{{server}}"><img src="/static/img/servers/banner-{{server}}.gif?t={{queries[server].timestamp}}" alt="about {{server}}" width="265" height="31"/></a>
			{% if not queries[server] %}<img src="/static/img/servers/btn-offline.gif" alt="{{server}} offline" width="60" height="31"/>
			{%- else %}<a href="/connect/{{server}}"><img src="/static/img/servers/btn-connect.gif" alt="connect to {{server}}" width="60" height="31"/></a>{% endif %}
        </span>
	{%- endfor %}
    </div>
    
    <p><a href="/servers">more servers</a></p>
	
    <p>server A runs hightower 24/7. server B runs a variety of stock maps, see the mapcycle <a href="https://fastdl.elisttm.space/tf/cfg/mapcycle.txt">here!</a></p>
    <p>the commands !nominate and !rtv can be used for map switching, and !scramble can be used to scramble the teams!</p>

    <p>also join the <a href="https://discord.gg/chVeByf6uP">discord server!</p>

{% endblock %}