{% extends "base.html" %}

{% block title %}my tf2 servers{% endblock %}
{% block desc %}info related to my tf2 servers{% endblock %}

{% block background %}tf2.gif{% endblock %}

{% block content %}

	<h1>my tf2 servers</h1>
	
    <div class="servers">
    {%- for server in server_keys["tf2"] %}
        <span>
            <a href="/info/{{server}}"><img src="/static/img/servers/banner-{{server}}.gif?t={{time}}" alt="about {{server}}" width="265" height="31"/></a>
			{% if not servers[server]["query"] %}<img src="/static/img/servers/btn-offline.gif" alt="{{server}} offline" width="60" height="31"/>
			{%- else %}<a href="/connect/{{server}}"><img src="/static/img/servers/btn-connect.gif" alt="connect to {{server}}" width="60" height="31"/></a>{% endif %}
        </span>
	{%- endfor %}
    </div>
    
    <p><a href="/servers">more servers</a></p>
	
    <p>these run 24/7 on all maps. one mainly runs hightower and the other runs whatever else</p>
    <p>the commands !nominate and !rtv can be used for map switching, and !scramble can be used to scramble the teams!</p>

{% endblock %}