{% extends "base.html" %}

{% block title %}my tf2 servers{% endblock %}
{% block desc %}info related to my tf2 servers{% endblock %}

{% block background %}tf2.gif{% endblock %}

{% block color_bg %}rgba(27, 17, 11, 0.9){% endblock %}
{% block color_bt %}#3c2519{% endblock %}
{% block color_ol %}#ff8f56{% endblock %}

{% block content %}

	<h1>my tf2 servers</h1>
	
    <div class="servers">
    {%- for server in server_keys["tf2"] %}
        <span>
            <a href="/info/{{server}}"><img src="/static/img/servers/banner-{{server}}.gif?t={{queries[server].timestamp}}" alt="about {{server}}" width="265" height="31"/></a>
			{% if not queries[server] %}<img src="/static/img/servers/btn-offline.gif" alt="{{server}} offline" width="60" height="31"/>
			{%- else %}<a href="/connect/{{server}}"><img src="/static/img/servers/btn-connect.gif" alt="connect to {{server}}" width="60" height="31"/></a>{% endif %}
        </span>
	{%- endfor %}
    <p><a href="/servers">see other servers</a></p>
    </div>
	
    <p>server A runs exclusively hightower 24/7</p>
    <p>server B runs a variety of stock maps plus some workshop maps. see the mapcycle <a href="https://fastdl.elisttm.space/tf/cfg/mapcycle.txt">here!</a> !rtv and !nominate for map votes are supported.</p>

{% endblock %}