{% extends "base.html" %}

{% block title %}about me{% endblock %}
{% block desc %}varying information about ME!{% endblock %}

{% block background %}stars6.gif{% endblock %}

{% block color_bg %}rgba(9, 9, 18, 0.8){% endblock %}
{% block color_bt %}#242133{% endblock %}
{% block color_ol %}#bfb4ff{% endblock %}

{% block content %}

	<h1>about me (wip!!!)</h1>
		<p>
			i'm eli, a weird little 21 year old cat-boy-thing.
		</p>
		<p>
			i love tinkering with computers &amp; technology in general, especially old, odd and/or silly hardware.
			i also like programming and making websites (like this one!), primarily using python.
			i intend to learn rust or c in the near future to make even sillier things, but we will see if that bears fruit...
		</p>
		<p>
			when im not tinkering, programming, working, or cat-napping, i'm either at my computer playing games or out thrifting for trinkets.
			i have a very very large adoration for valve games with most of that energy going toward either tf2 or deadlock :3
		</p>
		
		<img src="/static/img/silly/basket.gif"/>

		<p class="subtitle">this page will be restructured later...</p>

{% endblock %}
