{% extends "base.html" %}

{% block title %}donations{% endblock %}
{% block desc %}all the ways that you can support me :3{% endblock %}

{% block background %}flower.jpg{% endblock %}

{% block content %}

	<h1>donations</h1>

	<p>
		my game servers are free to play and currently do not have any donator perks, but donations are greatly appreciated and help my servers improve!
	</p>

    <a href="https://ko-fi.com/elisttm"><img src="/static/img/donate-kofi.png" alt="support me on kofi!" width="245" height="50"></a>
    <br>
    <a href="https://cash.app/$elisttm"><img src="/static/img/donate-cashapp.png" alt="support me on cashapp!" width="239" height="239"></a>
    
    <br><br>
    <a href="https://steamcommunity.com/tradeoffer/new/?partner=242706624&token=rmRBWuR4"><img src="/static/img/donate-steam.png" alt="send me a trade offer!" width="250" height="40"></a>

{% endblock %}