{% extends "base.html" %}

{% block title %}my silly sona{% endblock %}
{% block desc %}ref for my silly kitty{% endblock %}

{% block background %}paws.png{% endblock %}

{% block color_bg %}rgba(20, 10, 13, 0.9){% endblock %}
{% block color_bt %}#362228{% endblock %}
{% block color_ol %}#d39fb1{% endblock %}

{% block extra %}
	<meta property="og:image" content="/static/img/ref.pngg?t=8-21-2026"/>
	<meta name="twitter:image" content="/static/img/ref.pngg?t=8-21-2026">
	<meta name="twitter:card" content="summary_large_image">
{% endblock %}

{% block content %}

	<h1>my silly kitty</h1>

	<p>art by me! art of any kind is ALWAYS appreciated :3</p>

	<a href="/static/img/ref.png?t=8-21-2026"><img src="/static/img/ref-trans.png" width="600" alt="reference sheet of my fursona"/></a>

	<p class="subtitle">click the image to download!</p>
	<p class="subtitle">more images to be added later, probably!</p>

{% endblock %}