{% extends "base.html" %}

{% block title %}my silly sona{% endblock %}
{% block desc %}ref for my silly kitty{% endblock %}

{% block background %}paws.png{% endblock %}

{% block color_bg %}rgba(20, 10, 13, 0.9){% endblock %}
{% block color_bt %}#362228{% endblock %}
{% block color_ol %}#d39fb1{% endblock %}

{% block extra %}
	<meta property="og:image" content="/static/img/ref.png"/>
	<meta name="twitter:image" content="/static/img/ref.png">
	<meta name="twitter:card" content="summary_large_image">
{% endblock %}

{% block content %}

	<h1>my silly kitty</h1>

	<p>art by me! art of any kind is ALWAYS appreciated :3</p>
	<p class="subtitle">this WILL be redrawn soon, it is very old and outdated (2023!)</p>

	<a href="/static/img/ref.png"><img src="/static/img/ref-transparent.png" width="600" alt="reference sheet of my fursona"/></a>

	<p class="subtitle">click the image to download!</p>

{% endblock %}