{% extends "base.html" %}

{% block title %}links{% endblock %}
{% block desc %}all encompassing links page :3{% endblock %}

{% block background %}stardust.gif{% endblock %}

{% block color_bg %}rgba(16, 8, 8, 0.8){% endblock %}
{% block color_bt %}#261515{% endblock %}
{% block color_ol %}#d38383{% endblock %}

{% block extra %}
	<link rel="stylesheet" href="https://furryring.neocities.org/onionring.css">
{% endblock %}

{% block content %}

	<h1>more links!</h1>
	
	<ul>
		<li><b>discord</b> : @elisttm</li>
		<li><b>mail</b> : <a href="mailto:elisttm@gmail.com" target="_blank">elisttm@gmail.com</a></li>
		<li><b>copyparty</b> : <a href="https://p.elisttm.space" target="_blank">p.elisttm.space</a></li>
	</ul>
	
	<p class="subtitle">please note: these buttons have been decimated horribly to reduce filesize</p>
	
	<div class="buttons">
		<a href="https://tanka.neocities.org/"><img src="/static/img/88x31/kuka.gif" width="88" height="31" alt=""></a>
		<a href="https://foxgirl.dev/"><img src="/static/img/88x31/lua.gif" width="88" height="31" alt=""></a>
		<a href="https://mikeyg.neocities.org/"><img src="/static/img/88x31/mikeyg.gif" width="88" height="31" alt=""></a>
		<a href="https://marlee-go.at"><img src="/static/img/88x31/marmar8831.gif" width="88" height="31" alt=""></a>
		<a href="https://solarlynx.neocities.org/"><img src="/static/img/88x31/solar.gif" width="88" height="31" alt=""/></a>
		<a href="http://sylvies.space"><img src="/static/img/88x31/sylvie.gif" width="88" height="31" alt=""></a>
		<a href="https://uyukat.neocities.org/"><img src="/static/img/88x31/uyukat.gif" width="88" height="31" alt=""></a>

		<a href="https://dimden.dev/"><img src="/static/img/88x31/dimden.gif" width="88" height="31" alt=""/></a>
		<a href="https://kiwiwi.nekoweb.org/"><img src="/static/img/88x31/kiwiwibutton.gif" width="88" height="31" alt=""></a>
		<a href="https://yordazone.neocities.org/"><img src="/static/img/88x31/orbital.gif" width="88" height="31" alt=""></a>
		<a href="https://dokode.moe/"><img src="/static/img/88x31/dokodemo.gif" width="88" height="31" alt=""></a>

		<a href="http://eightyeightthirty.one/"><img src="/static/img/88x31/eightyeightythirtyone.gif" width="88" height="31" alt=""/></a>
		
		<a href="https://www.youtube.com/@TechnologyConnections"><img src="/static/img/88x31/technology_connections.gif" width="88" height="31" alt=""></a>
		
		<a href="https://store.steampowered.com/app/420530/OneShot/"><img src="/static/img/88x31/oneshot.gif" width="88" height="31" alt=""/></a>
		<a href="https://store.steampowered.com/app/400/Portal/"><img src="/static/img/88x31/aperture1.gif" width="88" height="31" alt=""/></a>
		<a href="https://store.steampowered.com/app/620/Portal_2/"><img src="/static/img/88x31/aperture2.gif" width="88" height="31" alt=""/></a>
		<a href="https://www.half-life.com/en/home/"><img src="/static/img/88x31/hl.gif" width="88" height="31" alt=""/></a>
		<a href="https://p.elisttm.space/software/Quake.7z"><img src="/static/img/88x31/getquake.gif" width="88" height="31" alt=""/></a>
		
		<a href="https://getpaint.net"><img src="/static/img/88x31/pdn.gif" width="88" height="31" alt=""/></a>
		<a href="https://www.foobar2000.org/"><img src="/static/img/88x31/foobar2000.gif" width="88" height="31" alt=""/></a>
		
		<a href="https://www.w3schools.com/"><img src="/static/img/88x31/w3schools.gif" width="88" height="31" alt=""/></a>
		<a href="https://neocities.org/"><img src="/static/img/88x31/webdesign.gif" width="88" height="31" alt=""/></a>
		
		<a href="https://user.xmission.com/~emailbox/catstuff.htm"><img src="/static/img/88x31/catstuff.gif" width="88" height="31" alt=""/></a>
		
		<img src="/static/img/88x31/therian.gif" width="88" height="31" alt=""/>
		<a href="https://www.youtube.com/watch?v=zvfD5rnkTws"><img src="/static/img/88x31/virusalert.gif" width="88" height="31" alt=""/></a>
		<a href="/homunculus"><img src="/static/img/88x31/free-sex.gif" width="88" height="31" alt=""/></a>
		<a><iframe src="//incr.easrng.net/badge?key=eli" style="background: url(//incr.easrng.net/bg.gif)" title="increment badge" width="88" height="31" frameborder="0"></iframe></a>
		
	</div>

	<h2>webrings</h2>

	<div style="min-height: 40px;"><script src="https://snewberry.neocities.org/catfolk/webstring.js" defer></script></div>

	<div id='furryring' style="min-height: 40px;">
        <script type="text/javascript" src="https://furryring.neocities.org/onionring-variables.js" defer></script>
        <script type="text/javascript" src="https://furryring.neocities.org/onionring-widget.js" defer></script>
    </div>

	<h2>special thanks / credits</h2>

	<ul>
		<li><a href="https://palletsprojects.com/">pallets community</a> for quart/flask &amp; jinja. i love python</li>
		<li>the trillions of 88x31 archives out there that ive nabbed from</li>
		<li><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=3234200664">THIS tf2 warpaint</a> for the background of this page!</li>
		<li><a href="https://www.w3schools.com/">w3schools</a> for their extremely accessible web dev courses
	</ul>
	
{% endblock %}