{% extends "base.html" %}

{% block title %}my game servers{% endblock %}
{% block desc %}a list of servers i host{% endblock %}

{% block background %}code.gif{% endblock %}

{% block content %}

	<h1>my game servers</h1>

    <p>
        these are most of my public game servers i host at home
        <br>banners update every minute!
    </p>

    <div class="servers">
    {%- for server in ("sandbox", "gmoda", "gmodb", "tf2a", "tf2b", "hl2mp", "hldm") %}
        <span>
            <a href="/info/{{server}}"><img src="/static/img/servers/banner-{{server}}.gif?t={{time}}" alt="about {{server}}" width="265" height="31"/></a>
			{% if not servers[server]["query"] %}<img src="/static/img/servers/btn-offline.gif" alt="{{server}} offline" width="60" height="31"/>
			{%- else %}<a href="/connect/{{server}}"><img src="/static/img/servers/btn-connect.gif" alt="connect to {{server}}" width="60" height="31"/></a>{% endif %}
        </span>
            
    {%- endfor %}
    </div>
        
        <p><a href="/servers/extra">full serverlist</a></p>

    <a class="btn" href="/gmod">gmod info &amp; addons</a>
    <a class="btn" href="/tf2">tf2 server info</a>
    <a class="btn" href="/mc">mc server info</a>

{% endblock %}