{% extends "base.html" %}

{% block title %}all game servers{% endblock %}
{% block desc %}a list of every public server i host{% endblock %}

{% block background %}code.gif{% endblock %}

{% block content %}

	<h1>all game servers</h1>

    <p>
        these are all the servers i host, including any that arent up 24/7
        <br>banners update every minute!
    </p>
    
    <div class="servers">
    {%- for server in servers %}
        <span>
            <a href="/info/{{server}}"><img src="/static/img/servers/banner-{{server}}.gif?t={{servers[server]["time"]}}" alt="about {{server}}" width="265" height="31"/></a>
            {%- if servers[server]["game"] in source_games %}
            {% if not servers[server]["query"] %}<img src="/static/img/servers/btn-offline.gif" alt="{{server}} offline" width="60" height="31"/>
			{%- else %}<a href="/connect/{{server}}"><img src="/static/img/servers/btn-connect.gif" alt="connect to {{server}}" width="60" height="31"/></a>{% endif %}
            {%- endif %}
        </span>
	
    {%- endfor %}
    </div>

    <p><a href="/servers">main serverlist</a></p>

{% endblock %}